@model IEnumerable<ContosoUniversity.Models.Course>
@{
    ViewData["Title"] = "Courses";
}
<h1>Departments</h1>
<p>
    <a asp-action="Create">Make a new Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ID)</th>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Credits)</th>
            <th>Available Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => course.ID)</td>
                <td>@Html.DisplayFor(model => course.Title)</td>
                <td>@Html.DisplayFor(model => course.Credits)</td>

                <td>
                    <a asp-action="Create" asp-route-id="@course.ID" class="btn btn-dark">Create</a>
                    <a asp-action="DetailsDelete" asp-route-id="@course.ID" class="btn btn-dark">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>