@model ContosoUniversity.Models.Department

@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>
<h3>Are you sure you want to do this</h3>
<div>
    <h4>Departments</h4>
    <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(Model => Model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(Model => Model.Budget)
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.Budget)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(Model => Model.DepartmentDescription)
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.FrenchDepartmentDescription)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(Model => Model.StartDate)
            </dt>
            <dd>
                @Html.DisplayFor(Model => Model.StartDate)
            </dd>
        </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="DepartmentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> | <a asp-action="Index">Cancel</a>
    </form>
</div>